/********** Base styles **********/ 
* {
  box-sizing: border-box;
  font-family: Helvetica;
}

p {
  position: relative;
}

div {
  background-color: #73AD21;
  position: relative;
  top: 0px;
  border: 20px solid white;
  margin: 0px;
  height: 240px;
  padding: 30px;
  overflow: hidden;
  text-align: justify;
}

span.section-title {
  border: 1px solid black;
  padding: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: right;  
  font-size: 125%;
}

h1.page-name {
  text-align: center;  
  font-size: 175%;
  color: #73AD21;
  margin: auto;
}

#title_antipasti {
  background-color: #009999;
  color: #FF0000;
}

#title_primi {
  background-color: #00FF00;
  color: #990099;
}

#title_secondi {
  background-color: #0000FF;
  color: #999900;
}

/* Media definitions. */

@media (min-width: 992px) {

  .col-lg-4 {

    float: left;
    width: 33.33%;
  }

}

@media (min-width: 768px) and (max-width: 991px) {

  .col-md-6 {
    float: left;
    width: 50%;
  }

  .col-md-12 {
    float: left;
    width: 100%;

  }

}

@media (max-width: 767px) {
  
  .col-sm-12 {
    float: left;
    width: 100%;
  }

}
